.dash-board {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.candle-board {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    background-image: url('../public/images/board-bg.jpg');
    background-position: center;
    background-size: cover;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    z-index: 2;
}

.candle-canvas {
    z-index: 3;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.candle {
    position: absolute;
}