:root {}

.score-panel {
    width: auto;
    display: flex;
    justify-items: center;
    align-items: center;
}


.panel-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-circle {
    width: 120px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.main-score {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.main-score h2 {
    font-size: 1.2rem;
    color: white;
}

.scores {
    padding: 1rem;
}

.score-row {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-row p {
    color: white;
}

#rowTitle {
    font-size: 1.6rem;
    color: rgb(255, 200, 0);
}

#userCash {
    font-size: 3rem;
}

#cashType {
    font-size: 2rem;
}